{% extends "demo/base.html" %}

{% load demo_tags wagtailcore_tags static %}

{% block heading %}
    <img src="{% static "demo/images/header-skt-logo.png" %}" />
    <hr>
    <div class="intro-text btn btn-default btn-xl sr-button">
    <div class="rich-text"><p>
        Email, telefony, adres siedziby
    </p></div></div>
{% endblock %}

{% block content %}
    <aside>
        <div class="container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if self.body %}
            <aside class="bg-bright" id="contact-body">

            <div class="row" style="padding: 0 5%">
                {{ self.body|richtext }}
            </div>

            </aside>
        {% endif %}

        {% include "demo/includes/contact.html" with contact=self only %}

        </div>
        </div>
        </div>
    </aside>
{% endblock %}
