{% extends "demo/base.html" %}
{% load demo_tags wagtailcore_tags wagtailimages_tags %}

{% block heading %}
  <div class="page-header">
    <h2>
      {{ self.title }}
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>
    <p style="text-align:center">{{ self.date_from }}{% if self.date_to %} - {{ self.date_to }}{% endif %}; {{ self.location }}</p>

  </div>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="bg-primary col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <aside id="event-summary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">W skrócie</h2>
                <hr class="primary">
            </div>
        </div>

        <ul>
            <li>Czas:
                {{ self.date_from }} {% if self.time_from %} (godz. {{ self.time_from|time }}) {% endif %}

                {% if self.date_to %} - {{ self.date_to }}{% endif %}
                {% if self.time_to %} (godz. {{ self.time_to|time }}) {% endif %}</li>

        {% if self.location %}<li>Miejsce:
            {{ self.location }}</li>{% endif %}

        {% if self.audience %}
            {# From EVENT_AUDIENCE_CHOICES in models.py #}
            <li>Wydarzenie:{{ self.get_audience_display }}</li>
        {% endif %}

        {% if self.cost %}
            <li>Szacowane koszty: {{ self.cost|safe }}</li>
        {% endif %}

        {% if self.signup_link %}
            <li>Zapisy: <a href="{{ self.signup_link }}">{{ self.signup_link }}</a></li>
        {% endif %}

        </ul>

        <div class="text-center">
            <a class='btn btn-default sr-button' href= "{{ self.url }}?format=ical">
                Dodaj do kalendarza
            </a>
        </div>
    </aside>
    </div>
    </div>
    </div>


    {% if self.carousel_items.all %}
    <div class="container">
    <div class="row">
    <div class="bg-bright col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 no-padding">
        {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
    </div>
    </div>
    </div>
    {% endif %}


    {% if self.body %}
    <div class="container">
    <div class="row">
    <div class="bg-bright col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ self.body|richtext }}
    </div>
    </div>
    </div>
    {% endif %}

    {% with self.speakers.all as speakers %}
        {% if speakers %}
        <div class="container">
        <div class="row">
        <div class="bg-primary col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <aside id="event-leaders">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Przewodnicy</h2>
                    <hr class="primary">
                </div>
            </div>

            <div class="row no-gutter">
                {% for speaker in speakers %}
                    {% include "demo/includes/event_leader_list_item.html" %}
                {% endfor %}
            </div>

        </aside>
        </div>
        </div>
        </div>
        {% endif %}
    {% endwith %}

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
