{% extends "demo/base.html" %}
{% load demo_tags %}

{% block content %}



    {% event_listing_homepage %}

    <section id="services" class="bg-bright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Studencki Klub Turystyczny - Podróżuj z nami!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-plane text-primary sr-icons"></i>
                        <h3>Klub</h3>
                        <p class="text-muted">Organizujemy studenckie wyjazdy w góry, na żagle i kajaki. Chcesz do nas dołączyć? Zapisz się na wyjazd!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-tent fa-4x  text-primary sr-icons"></i>
                        <h3>Ludzie i możliwości</h3>
                        <p class="text-muted">Nie ważne, jakie masz doświadczenie w chodzeniu po górach i podróżowaniu. Wszystko Ci wytłumaczymy. Chcesz sam zorganizować wyjazd? Chętnie pomożemy!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-signs text-primary sr-icons"></i>
                        <h3>Brak ograniczeń</h3>
                        <p class="text-muted"> Maroko, norweskie fiordy, a może nocleg nad jeziorem Bled w Słowenii? Realizujemy szalone pomysły za studencki budżet.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up text-primary sr-icons"></i>
                        <h3>Dla wszystkich</h3>
                        <p class="text-muted">Aby z nami pojechać, nie musisz być członkiem klubu. Zapraszamy studentów i absolwentów wszystkich uczelni.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div style=" overflow: hidden; padding:0; position:relative; height:50%; width:100%">
    <div id="player" style="
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
    "></div>

</div>
    <script>
      // 1. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 2. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '50%',
          width: '100%',
          playerVars: {
                    autoplay: 1,
                    loop: 1,
                    controls: 0,
                    showinfo: 0,
                    autohide: 1,
                    modestbranding: 1,
                    vq: 'hd1080'},
          videoId: 'dcydUoMvrio',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 3. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
        player.mute();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.ENDED) {
            player.playVideo();
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

    {% blog_listing_homepage %}

    <!-- {% person_listing_homepage %} -->


    {% if self.body %}
    <section class="bg-bright" id="homepage_body">
        <div class="container">
            {% include "demo/includes/streamfield.html" with content=self.body %}
        </div>
    </section>
    {% endif %}

    {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}


{% endblock %}
