{% extends "demo/base.html" %}
{% load demo_tags %}

{% block content %}

    {% event_listing_homepage %}
<!--     {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %} -->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Studencki Klub Turystyczny - Podróżuj z nami!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-plane text-primary sr-icons"></i>
                        <h3>Klub</h3>
                        <p class="text-muted">Organizujemy studenckie wyjazdy w góry, na żagle i kajaki. Chcesz do nas dołączyć? Zapisz się na wyjazd!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-tent fa-4x  text-primary sr-icons"></i>
                        <h3>Ludzie i możliwości</h3>
                        <p class="text-muted">Nie ważne, jakie masz doświadczenie w chodzeniu po górach i podróżowaniu. Wszystko Ci wytłumaczymy. Chcesz sam zorganizować wyjazd? Chętnie pomożemy!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-signs text-primary sr-icons"></i>
                        <h3>Brak ograniczeń</h3>
                        <p class="text-muted"> Maroko, norweskie fiordy, a może nocleg nad jeziorem Bled w Słowenii? Realizujemy szalone pomysły za studencki budżet.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-thumbs-up text-primary sr-icons"></i>
                        <h3>Dla wszystkich</h3>
                        <p class="text-muted">Aby z nami pojechać, nie musisz być członkiem klubu. Zapraszamy studentów i absolwentów wszystkich uczelni.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {% person_listing_homepage %}

    {% blog_listing_homepage %}


    {% if self.body %}
    <section class="bg-primary" id="about">
        <div class="container">
            {% include "demo/includes/streamfield.html" with content=self.body %}
        </div>
    </section>
    {% endif %}

{% endblock %}
