{% extends "demo/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block heading %}
    {% include "demo/includes/intro.html" with intro=self.intro only %}
{% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
    <div class="bg-bright col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <div class="row">
        <div class="col-lg-12 text-center">

            <h2 class="section-heading">
                {{ self.first_name }} {{ self.last_name }}
            </h2>
            <hr class="primary">
        </div>
    </div>

    <div class="row">
    {% if self.biography %}
        {% if self.image %}
            <div class="col-md-3 text-center">
                {% image self.image fill-200x400 class="img-thumbnail" %}
            </div>

            <div class="col-md-9">
                {{ self.biography|richtext }}
            </div>
        {% else %}
            <div class="col-md-12">
                {{ self.biography|richtext }}
            </div>
        {% endif %}
    {% else %}
        {% if self.image %}
            {% image self.image fill-400x400 as img %}
            <div class="container-float portfolio-box-aspect " style="background-image: url({{ img.url }});"></div>
        {% endif %}
    {% endif %}
    </div>

    </div>
    </div>
    </div>

    <div class="container">
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 no-padding">
        {% include "demo/includes/contact.html" with contact=self only %}
    </div>
    </div>
    </div>

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
