{% extends "demo/base.html" %}
{% load wagtailcore_tags %}

{% block heading %}
    {% include "demo/includes/intro.html" with intro=self.intro only %}
{% endblock %}

{% block content %}

    {% if self.carousel_items.all %}
    <div class="container">
    <div class="row">
    <div class="bg-bright col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 no-padding">
        {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}
    </div>
    </div>
    </div>
    {% endif %}

    {% if self.body %}
    <div class="container">
    <div class="row">
    <div class="bg-bright col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ self.body|richtext }}
    </div>
    </div>
    </div>
    {% endif %}

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
