{% load demo_tags wagtailcore_tags %}

<div class="container-fluid animatedParent contact-map bg-dark"
    {%  if contact.post_code %}
        {% get_google_maps_key as google_maps_key %}

        style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center={{ contact.city }},{{ contact.address_1 }}&amp;zoom=13&amp;size=1200x400&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:green|{{ contact.address_1 }}{% if google_maps_key %}&amp;key={{ google_maps_key }}{% endif %}');"
    {% endif %}
    >

    <div class="row animated fadeInDownShort go">
        <div class="col-md-4 bg-dark" style="padding: 0 5%">
          <!-- COLUMN 1 -->
          <aside id="contact-addr-frame">
            <h4 class="footer-heading"><i class="fa fa-pied-piper-alt"></i> Znajdziesz nas tutaj </h4>

            {% if contact.address_1 %}
                <dt>Adres </dt>
                <dd>
                {{ contact.address_1 }},
                {% if contact.post_code %}{{ contact.post_code }} {% endif %}
                {% if contact.city %}{{ contact.city }}, {% endif %}
                {% if contact.country %}{{ contact.country }}{% endif %}
                </dd>
            {% endif %}

            {% if contact.address_2 %}
                <dt>Sala/budynek</dt>
                <dd>{{ contact.address_2 }}</dd>
            {% endif %}


            {% if contact.telephone %}
                <dt>Telefon</dt>
                <dd>{{ contact.telephone }}</dd>
            {% endif %}

            {% if contact.email %}
                <dt>Email</dt>
                <dd>{{ contact.email }}</dd>
            {% endif %}

          </aside>

        </div>
      <div class="col-md-8">
          <!-- COLUMN 2 -->

       </div>
    </div>
</div>
